default:
    suites:
        leads:
            paths:
                - /application/tests/Features/Leads/
            contexts:
                - App\Tests\Shared\Infrastructure\Behat\ApplicationContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
